* {
    margin: 0;
    padding: 0;
}

.main-pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

html,
body {
    height: 100vh;
    width: 100vw;
    background-color: #d7b8a3;
}

.navigator {
    padding: 10px;
    display: grid;
    grid-template-columns: 15% 1fr 1fr 15%;
}

a {
    color: #a17145;
    text-decoration-line: none;
}

.style {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(0vw, 14rem, 35vw);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
}

img {
    max-width: 90vw;
}

/*
.style::after {
    content: "";
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
}*/

.about {
    grid-column: 4/5;
}